<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Visión Artificial</title>
        <link rel="icon" type="image/png" href="https://image.flaticon.com/icons/svg/1230/1230997.svg" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
        <a class="navbar-brand" href="/">Reconocimiento Facial</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('perdido_alguien') }}">¿Has perdido a alguien?<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('personas_desaparecidas') }}">Personas desaparecidas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Buscando...</a>
            </li>
          </ul>
          <span class="navbar-text">
            Inteligencia Artificial y Robótica
          </span>
        </div>
      </nav>
    </div>
</body>
</html>