<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Visión Artificial - Alguien Perdido</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link rel="icon" type="image/png" href="https://image.flaticon.com/icons/svg/1230/1230997.svg" />

    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
        rel="stylesheet">



    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">

    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">


    <link href="lib/animate/animate.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">


</head>

<body>
    <style>
        .box__dragndrop,
        .box__uploading,
        .box__success,
        .box__error {
            display: none;
        }
    </style>

    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <a href="#hero"><img src="img/logo2.png" alt="" title="" /></img></a>

            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                  <li class="menu-active"><a href="{{ url_for('home') }}">Reconocimiento Facial</a></li>
                  <li><a href="{{ url_for('perdido_alguien') }}">¿Has perdido a alguien?</a></li>
                  <li><a href="{{ url_for('buscando') }}">Buscando</a></li>
                </ul>
              </nav>
        </div>
    </header>


    <section id="hero">
        <div class="hero-container">
            <h1>¿Se Perdio Alguien?</h1>
            <h2>No te preocupes, podemos encontrarlo</h2>
            <a href="#EncontrarA" class="btn-get-started">Encontrarlo Ahora</a>
        </div>
        </section>
        <br>
        <div class="container" id="EncontrarA" >
            <form action="/formulario" method="POST" >
                <p><strong>Nombre:</strong>
                    <input type="text" name="nombre" size="40" required></p>
                <p><strong>Apellido:</strong>
                    <input type="text" name="apellido" required></p>
                <p><strong>Edad:</strong>
                    <input type="text" name="edad" required></p>
                <label for="file"><strong>Adjuntar Video (solo debe contener 1 persona):</strong><span class="box__dragndrop">
                        or drag it here</span></label>
                <br><input type="file" name="files" id="file" multiple required />
                <br><br><button class="box__button" type="submit">Enviar</button>
                </p>
            </form>
        </div>
        <script>
        document.getElementById('file').onchange = function () {
            console.log(this.value);
        }
    </script>



    <footer id="footer">
        <div class="footer-top">
            <div class="container">

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>GALD</strong>. All Rights Reserved
            </div>
            <div class="credits">


                Designed by <a href="https://bootstrapmade.com/">www.hostgald.com</a>
            </div>
        </div>
    </footer>


    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>


    <script src="contactform/contactform.js"></script>


    <script src="js/main.js"></script>

</body>

</html>