<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script>
  const video = document.getElementById('video');
  navigator.getUserMedia = navigator.getUserMedia ||navigator.webkitGetUserMedia || navigator.mozGetUserMedia || 
      navigator.msGetUsermedia || navigator.oGetUserMedia;
  console.log("aver"+navigator.getUserMedia);
  if(navigator.getUserMedia){
    navigator.getUserMedia({video: true}, handleVideo, videoError);   
  } 
  function handleVideo(stream){
    window.stream = stream;
    video.srcObject = stream;
  }
  function videoError(e){
    alert("there was some problems");
  }

</script>
  <!-- Stream video via webcam -->
  <div>
    <video id="vidDisplay"  autoplay="true">
      no video in your browser
    </video>
  </div>
  </body>
</html>